## SQL script Execution Order

```sql
SELECT release_year, AVG(budget) AS avg_budget, AVG(gross) AS avg_gross
FROM films
WHERE release_year > 1990
GROUP BY release_year
HAVING AVG(budget) > 60000000
-- Order the results from highest to lowest average gross and limit to one
ORDER BY avg_gross DESC
LIMIT 1;

### ðŸ”¢ **Logical Execution Order:**

1. **`FROM films`**
    This tells SQL which table to retrieve data from.

2. **`WHERE release_year > 1990`**
    Filters the rows to only include those **after 1990**, before any grouping happens.

3. **`GROUP BY release_year`**
    Groups the filtered rows **by `release_year`**.

4. **`HAVING AVG(budget) > 60000000`**
    Filters the grouped results to include **only years where the average budget is over \$60 million**.
   (Unlike `WHERE`, `HAVING` works **after grouping**.)

5. **`SELECT release_year, AVG(budget) AS avg_budget, AVG(gross) AS avg_gross`**
    Calculates the average budget and gross for each group that passed the filter.

6. **`ORDER BY avg_gross DESC`**
    Sorts the remaining grouped rows **by average gross**, from highest to lowest.

7. **`LIMIT 1`**
    Returns **only the top result** after sorting.

---

### ðŸ§  Summary:

Although itâ€™s written top-down, SQL actually:

* **Gets the data**
* **Filters it**
* **Groups it**
* **Filters the groups**
* **Selects and computes aggregates**
* **Sorts the results**
* **Limits the output**

## Inner join

```sql
FROM left_table
JOIN right_table
ON left_table.key = right_table.key